<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{{ asset('/assets/img/favicon.png') }}"/>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/assets/css/global.css') }}">
            <link rel="stylesheet" href="{{ asset('/assets/css/bootstrap.css') }}">
        {% endblock %}
    </head>
    <body>
    {% block body %}{% endblock %}
    </body>
    {% block javascripts %}{% endblock %}
    <script src="{{ asset('/assets/js/bootstrap.js') }}"></script>
    <script src="{{ asset('/assets/js/popper.js') }}"></script>
</html>
